root = true

[*.{kt,kts}]
ktlint_code_style = android_studio

indent_style = space
indent_size = 4
max_line_length = 120
insert_final_newline = true

ktlint_standard = enabled
# ktlint_experimental = enabled

# 세미콜론 넣기
ktlint_standard_no-semi = disabled