# GitHub contributor email mapping
# Maps local commit emails to GitHub noreply emails for contributor attribution

오우택 <103624272+basicprogram@users.noreply.github.com> 오우택 <dhdnxor0112@naver.com>
오우택 <103624272+basicprogram@users.noreply.github.com> DESKTOP-URKE2VL\SSAFY <dhdnxor0112@naver.com>

황효주 <105642658+hjoo830@users.noreply.github.com> 황효주 <hjoo830@naver.com>

육재민 <132265535+zzaem-zzang@users.noreply.github.com> 육재민 <rjsekawoals@naver.com>
육재민 <132265535+zzaem-zzang@users.noreply.github.com> ì육재민 <rjsekawoals@naver.com>

김경민 <221294099+Zerozero212@users.noreply.github.com> 김경민 <kkm990212@naver.com>
김경민 <221294099+Zerozero212@users.noreply.github.com> KimKyeongMin <kkm990212@naver.com>
김경민 <221294099+Zerozero212@users.noreply.github.com> KIMKYEONGMIN <kkm990212@naver.com>

최인호 <221462925+choiinho97@users.noreply.github.com> 최인호 <choiinho97@naver.com>
최인호 <221462925+choiinho97@users.noreply.github.com> Choi Inho <choiinho97@naver.com>
